<div class="update--container">
    <H1>Update</H1>
    <form class="update-form" [formGroup]="postForm" (ngSubmit)="onUpdatePost()">
        <div class="mb-3">
            <label for="">Title</label>
            <input type="text" placeholder="Title" class="form-control" formControlName="title">
        </div>
        <div class="mb-3">
            <label for="">Description</label>
            <textarea placeholder="Content" class="form-control" formControlName="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Update</button>
    </form>
</div>